table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed; /* ทำให้ responsive */
}

td {
    padding: 20px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.left {
    background-color: lightgreen;
    width: 50%;
}

.right {
    background-color: lightcoral;
    width: 50%;
}